<div>
    <button class="bnt-back hide-back" (click)="goBack()">Назад</button>
    <div style="text-align: center;float: left;margin-right: 25px;">
        <p><b>Избрано:</b></p>
        <img class="img-circle img-center img-responsive sprite" id="{{plant.en_name}}" alt="">
        <p><b>Английско име</b></p>
        <p>{{plant.en_name}}</p>
        <p><b>Българско име</b></p>
        <p>{{plant.name}}</p>
        <p><b>Ph</b></p>
        <p>6</p>
        <p><b>Температура</b></p>
        <p>20</p>
        <p><b>Влажност</b></p>
        <p>50%</p>
        <p><b>Слънце</b></p>
        <p>6 часа</p>
    </div>
    <div class="next-div">
        <select (change)="onChangeGreenHouse($event.target.value)" class="form-control green-sel">
            <option *ngFor="let ghouse of greenhouseService.greenhouses" [value]="ghouse.id">{{ghouse.name}}</option>
        </select>
        <button class="btn-menu" (click)="buy()">Нов парник</button>
        <div class="content-green">
            <p [hidden]="hasNotPlant"><b>Отглежда се:</b></p>
            <img [hidden]="hasNotPlant" class="img-circle img-center img-responsive sprite"
                 id="{{greenhouse.plants[0].en_name}}" alt="">
            <p [hidden]="hasNotPlant"><b>Английско име</b></p>
            <p [hidden]="hasNotPlant">{{greenhouse.plants[0].en_name}}</p>
            <p [hidden]="hasNotPlant"><b>Българско име</b></p>
            <p [hidden]="hasNotPlant">{{greenhouse.plants[0].name}}</p>
            <p [hidden]="!hasNotPlant">Не се отглежда нищо в момента</p>
        </div>
        <button [hidden]="areTheSame" class="bnt-grow" (click)="beginGrowing()">Започни отглеждане</button>
        <button [hidden]="!areTheSame" class="bnt-red">Вече се отглежда</button>
    </div>
</div>