<div class="next-div">
    <select (change)="onChangeGreenHouse($event.target.value)" class="form-control green-sel">
        <option *ngFor="#ghouse of greenhouseService.greenhouses" [value]="ghouse.id">{{ghouse.name}}</option>
    </select>
    <button class="btn-menu">Нов парник</button>
    <div>
        <span><b>Име:</b></span>
        <input [(ngModel)]="greenhouse.name" type="text" class="form-control green-inp" maxlength="23" required/>
        <button (click)="saveGreenhouseName()" class="btn-menu">Запис</button>
    </div>
    <div class="content-green">
        <p [hidden]="hasNotPlant"><b>Отглежда се:</b></p>
        <img [hidden]="hasNotPlant" class="img-circle img-center img-responsive sprite"
             id="{{greenhouse.plants[0].en_name}}" alt="">
        <p [hidden]="hasNotPlant"><b>Английско име</b></p>
        <p [hidden]="hasNotPlant">{{greenhouse.plants[0].en_name}}</p>
        <p [hidden]="hasNotPlant"><b>Българско име</b></p>
        <p [hidden]="hasNotPlant">{{greenhouse.plants[0].name}}</p>
        <p [hidden]="!hasNotPlant">Не се отглежда нищо в момента</p>
    </div>
    <button class="bnt-grow" style="width:61%;">Задай ново растение</button>
</div>