<div>
    <button class="bnt-back hide-back" (click)="goBack()">Назад</button>
    <div style="text-align: center;float: left;margin-right: 25px;">
        <img class="img-circle img-center img-responsive sprite" id="{{plant.en_name}}" alt="">
        <p><b>Английско име</b></p>
        <p>{{plant.en_name}}</p>
        <p><b>Българско име</b></p>
        <p>{{plant.name}}</p>
        <p><b>Ph</b></p>
        <p>{{plant.ph}}</p>
        <p><b>Слънце</b></p>
        <p>{{plant.sun}}</p>
        <p><b>Влажност</b></p>
        <p>{{plant.water}}</p>
    </div>
    <div style="display: inline-block;width: 400px;height: 400px;">
        <p><b>Описание</b></p>
        <p>{{plant.description}}</p>
        <button class="btn-menu" (click)="gotoGreenhouseSelection(plant.en_name)">Oтглеждане</button>
        <button class="btn-menu" (click)="buy(plant.en_name)" >Купи</button>
    </div>
    <div style="display:inline-block;width: 250px;height: 500px;text-align: center;">
        <p><b>Използва се за:</b></p>
        <img class="img-circle img-center img-responsive sprite" id="{{plant.dishes[0].img_name}}" alt="">
        <p>{{plant.dishes[0].name}}</p>
        <img class="img-circle img-center img-responsive sprite" id="{{plant.dishes[1].img_name}}" alt="">
        <p>{{plant.dishes[1].name}}</p>
    </div>
</div>