<div>
    <button class="bnt-back hide-back" (click)="goBack()">Назад</button>
    <div style="text-align: center;float: left;margin-right: 25px;">
        <img class="img-circle img-center img-responsive sprite" id="{{plant.en_name}}" alt="">
        <p><b>Английско име</b></p>
        <p>{{plant.en_name}}</p>
        <p><b>Българско име</b></p>
        <p>{{plant.name}}</p>
        <p><b>Ph</b></p>
        <p>{{plant.ph}}</p>
        <p><b>Слънце</b></p>
        <p>{{plant.sun}}</p>
        <p><b>Влажност</b></p>
        <p>{{plant.water}}</p>
    </div>
    <div style="display: inline-block;width: 400px;height: 400px;">
        <p><b>Описание</b></p>
        <p>Босилекът (Ocimum basilicum),
            известен още като „царска билка“ (от гр. basilicum — царски),
            е едногодишно тревисто растение с голо четириръбесто стъбло.
            Разклонено достига до височина 60 cm. Листата му са яйцевидно-продълговати
            с дълги дръжки и заострени в края. Цветовете са предимно бели, много рядко
            лилаво-бели или червени. Плодовете са сухи и след като узреят се разпадат
            на четири малки семенца. Цъфти от юни до септември. Като билка и подправка
            се използва надземната част на растението, най-често стръковете в пресен
            вид, като се бере по време на цъфтежа, а за сушене — преди цъфтежа.
            Съдържа етерично масло, горчиво вещество, гликозиди, танини, органични киселини,
            минерални соли. Родина на босилека са тропиците на Азия и Африка.
            Отглежда се културно в Европа от векове.</p>
        <button (click)="buy(plant.en_name);" class="btn-menu" style="margin-left: 28%; margin-right: 28%;width:45%;">Купи</button>
    </div>
    <div style="display:inline-block;width: 250px;height: 500px;text-align: center;">
        <p><b>Използва се за:</b></p>
        <img class="img-circle img-center img-responsive sprite" id="{{plant.dishes[0].img_name}}" alt="">
        <p>{{plant.dishes[0].name}}</p>
        <img class="img-circle img-center img-responsive sprite" id="{{plant.dishes[1].img_name}}" alt="">
        <p>{{plant.dishes[1].name}}</p>
    </div>
</div>