<div>
    <button class="bnt-back hide-back" (click)="goBack()">Назад</button>
    <div style="text-align: center;float: left;">
        <img class="img-circle img-center img-responsive sprite" id="{{item.en_name}}" alt="">
        <p><b>Английско име</b></p>
        <p>{{item.en_name}}</p>
        <p><b>Българско име</b></p>
        <p>{{item.name}}</p>

        <p><b>Описание</b></p>
        <p class="item-width p-width">{{item.description}}</p>
        <button (click)="buy(item.en_name);" class="btn-menu" style="margin-left: 28%; margin-right: 28%;width:45%;">Купи</button>
    </div>
</div>