.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

#agropyron {
    width: 200px;
    height: 200px;
    background-position: -5px -5px;
}

#balm {
    width: 200px;
    height: 199px;
    background-position: -215px -5px;
}

#basil {
    width: 200px;
    height: 200px;
    background-position: -425px -5px;
}

#beet {
    width: 200px;
    height: 200px;
    background-position: -635px -5px;
}

#biggreenhouse {
    width: 200px;
    height: 200px;
    background-position: -845px -5px;
}

#biochar {
    width: 200px;
    height: 200px;
    background-position: -1055px -5px;
}

#biohumus {
    width: 200px;
    height: 200px;
    background-position: -5px -215px;
}

#broccoli {
    width: 200px;
    height: 200px;
    background-position: -215px -215px;
}

#cabbage {
    width: 200px;
    height: 200px;
    background-position: -425px -215px;
}

#chard {
    width: 200px;
    height: 200px;
    background-position: -635px -215px;
}

#chives {
    width: 200px;
    height: 200px;
    background-position: -845px -215px;
}

#cilantro {
    width: 200px;
    height: 200px;
    background-position: -1055px -215px;
}

#cofehumus {
    width: 200px;
    height: 200px;
    background-position: -5px -425px;
}

#dill {
    width: 200px;
    height: 200px;
    background-position: -215px -425px;
}

#fagopyrum {
    width: 200px;
    height: 200px;
    background-position: -425px -425px;
}

#fenugreek {
    width: 200px;
    height: 200px;
    background-position: -635px -425px;
}

#kale {
    width: 200px;
    height: 200px;
    background-position: -925px -425px;
}

#komatsuna {
    width: 200px;
    height: 200px;
    background-position: -5px -635px;
}

#leavehumus {
    width: 200px;
    height: 200px;
    background-position: -215px -635px;
}

#lentil {
    width: 200px;
    height: 200px;
    background-position: -425px -635px;
}

#lettuce {
    width: 200px;
    height: 200px;
    background-position: -635px -635px;
}

#linum {
    width: 200px;
    height: 200px;
    background-position: -845px -635px;
}

#mint {
    width: 200px;
    height: 200px;
    background-position: -1055px -635px;
}

#nasturtium {
    width: 200px;
    height: 200px;
    background-position: -5px -845px;
}

#onion {
    width: 200px;
    height: 200px;
    background-position: -215px -845px;
}

#oregano {
    width: 200px;
    height: 200px;
    background-position: -425px -845px;
}

#parsley {
    width: 200px;
    height: 200px;
    background-position: -635px -845px;
}

#pea {
    width: 200px;
    height: 199px;
    background-position: -845px -845px;
}

#plotgreenhouse {
    width: 200px;
    height: 200px;
    background-position: -1055px -845px;
}

#radish {
    width: 200px;
    height: 200px;
    background-position: -5px -1055px;
}

#rucola {
    width: 200px;
    height: 199px;
    background-position: -215px -1055px;
}

#sage {
    width: 200px;
    height: 200px;
    background-position: -425px -1055px;
}

#satureja {
    width: 200px;
    height: 200px;
    background-position: -635px -1055px;
}

#sinapis {
    width: 200px;
    height: 199px;
    background-position: -845px -1055px;
}

#smallgreenhouse {
    width: 200px;
    height: 200px;
    background-position: -1055px -1055px;
}

#sunflower {
    width: 200px;
    height: 200px;
    background-position: -1265px -5px;
}

#thymus {
    width: 200px;
    height: 200px;
    background-position: -1265px -215px;
}

#weed {
    width: 200px;
    height: 200px;
    background-position: -1295px -425px;
}
